/* Tailwind bg override */
.mandala-wrapper {
  @apply  rounded-lg;
  @apply  bg-gray-900 !important;
  @apply dark:bg-transparent !important;
}

.mandala-wrapper {
  display: flex;
  justify: center;
  align-items:center;
  height: 600px;
  overflow: hidden;
  transition: all 1s ease-in-out;
  width: 100%;
  z-index: 1;
}

.mandala-container {
  --mandala-primary: #52525e;
  --mandala-accent-1: #c689ff;
  --mandala-accent-2: #ffd567;
  --mandala-accent-3: #88ffd1;
  --mandala-accent-4: #afafba;
  display: flex;
  justify-content: center;
  /* -webkit-transform: translate(12rem, -4rem);
  transform: translate(12rem, -4rem); */
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

.mandala-container .mandala-rotate > svg {
  animation: rotation 500s linear infinite;
}

.mandala-container svg {
  font-size: 1.5rem;
  font-weight: 300;
  user-select: none;
}

.mandala-container svg > text {
  fill: var(--mandala-primary);
}

.mandala-container .mandala-accent-1 {
  font-size: 1.5rem;
}

.mandala-container .mandala-accent-2 {
  font-size: 1.2rem;
  font-family: monospace;
}

.mandala-container .mandala-accent-3 {
  font-size: 1.2rem;
}

.mandala-container .mandala-accent-4 {
  font-size: 1.1rem;
}

.mandala-container .mandala-accent-5 {
  font-size: 1rem;
}

.mandala-container.animate-colors svg > text > textPath > tspan {
  fill: var(--mandala-primary);
  animation: mandala-color-change 50s infinite;
  animation-timing-function: ease-in-out;
}

.mandala-container.animate-colors .mandala-accent-1 > textPath > tspan {
  fill: var(--mandala-accent-1);
  animation-delay: -15s;
}

.mandala-container.animate-colors .mandala-accent-2 > textPath > tspan {
  fill: var(--mandala-accent-2);
  animation-delay: -20s;
}

.mandala-container.animate-colors .mandala-accent-3 > textPath > tspan {
  fill: var(--mandala-accent-3);
  animation-delay: -30s;
}

.mandala-container.animate-colors .mandala-accent-5 > textPath > tspan {
  fill: var(--mandala-accent-4);
  animation-delay: -40s;
}

@keyframes mandala-color-change {
  0% {
    fill: var(--mandala-primary);
  }

  10% {
    fill: var(--mandala-primary);
  }

  15% {
    fill: var(--mandala-accent-1);
  }

  20% {
    fill: var(--mandala-primary);
  }

  25% {
    fill: var(--mandala-primary);
  }

  30% {
    fill: var(--mandala-accent-2);
  }

  35% {
    fill: var(--mandala-primary);
  }

  40% {
    fill: var(--mandala-primary);
  }

  50% {
    fill: var(--mandala-accent-3);
  }

  55% {
    fill: var(--mandala-primary);
  }

  60% {
    fill: var(--mandala-primary);
  }

  65% {
    fill: var(--mandala-accent-4);
  }

  70% {
    fill: var(--mandala-primary);
  }

  to {
    fill: var(--mandala-primary);
  }
}
